@model ManageMe.BusinessLogic.CreateChannelVM

@{
    ViewData["Title"] = "Create";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label">Subject</label>
                <select id="SelectSubject" asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Roles" class="control-label">Target Audience</label>
                <select id="SelectRoles" asp-for="Roles" class="form-control" asp-items="ViewBag.Roles" multiple></select>
            </div>
            <div class="form-group">
                <label asp-for="AccessTypeId" class="control-label">Channel Accessibilty</label>
                <select id="SelectAccessType" asp-for="AccessTypeId" class="form-control" asp-items="ViewBag.AccessType"></select>
            </div>
            <div class="form-group">
                <label asp-for="ChannelPicFromForm" class="control-label"></label>
                <input asp-for="ChannelPicFromForm" class="form-control" />
                <span asp-validation-for="ChannelPicFromForm" type="file" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript" src="~/js/FetchDataIntoSelect.js"></script>
<script type="text/javascript">
    FetchDataIntoSelect('SelectSubject', 'Subjects/GetAllSubjects');
    FetchDataIntoSelect('SelectAccessType', 'Channels/GetAllAccessTypes');
    FetchDataIntoSelect('SelectRoles', 'Channels/GetAllRoles');
</script>