@model ManageMe.BusinessLogic.CreateMessageVM
@using System.Security.Claims;

@{
    ViewData["Title"] = "Create";

    var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChannelId" class="control-label"></label>
                <input asp-for="ChannelId" class="form-control" value=""/>
                <span asp-validation-for="ChannelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
