@model ManageMe.Common.PaginationSettings

<form method="GET">
    <div class="input-group mb-3" style="margin-top:1rem;">
        <input type="text" class="form-control" placeholder="Search"
               name="search" value="@Model.SearchString">
        <button class="btn btn-primary" type="submit" style="margin:0;">Search</button>
    </div>
</form>